# 忽略依赖和 macOS 文件
node_modules/
.DS_Store

# 忽略整个 JetBrains IDE 配置文件夹（如果不想同步 IDE 配置）
.idea/

# 如果想只忽略里面部分文件，写成这样
# .idea/shelf/
# .idea/workspace.xml
# .idea/httpRequests/
# .idea/dataSources/
# .idea/dataSources.local.xml
